.b-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100dvh - 150px);

    @media (max-width: 550px) {
        height: calc(100dvh - 50px);
    }

    &_image-wrapper {
        width: 200px;
        height: 200px;
        margin-bottom: 20px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &_text {
        font-size: 22px;
        text-align: center;
        color: var(--button-color);
    }
}
.b-marvel {
    .b-error {
        height: 50dvh;
    }
}