@import "src/style/mixins.scss";

#root {
    display: flex;
    align-items: flex-start;
    min-height: 100dvh;
    padding: 50px 0;
    background-color: var(--main-color);

    @media (max-width: 500px) {
        padding: 0;
    }
}

.b-button {
    @include buttonLight;

    &--dark, &.current {
        @include buttonDark;
    }


}